.video_input_field{
    display: none;
}
.video_input_video{
    display: block;
    margin: 0;
}
.card_bx{
    width: 60%;
    height: 50%;
}

@media(max-width: 950px){
    .card_bx{
        width: 98%;
    }
}
